body {
	background: #E6EBE0;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

a {
	text-decoration: none;
}

header {
	margin: 0px;
	top: 0px;
	right: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: #9BC1BC;
	padding: 22px 30px;
}

header a {
	margin-left: 10px;
	padding: 5px 10px;
	background: #9BC1BC;
	border: none;
	letter-spacing: 3px;
	cursor: pointer;
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	font-family: Arial;
}

header button:hover{
	opacity: 0.8;
	transition: 0.5s;
}

.works {
	width: 100%;
	margin: 50px 80px;

	display: flex;
	justify-self: center;
}

.work:hover{
	transition-duration: 1s;
	transform: scale(1.04);
}

.work{
	display: flex;
	width: 230px;
	height: 320px;
	background: #87ada8;
	border-radius: 4px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: solid gray 2px;
	margin-left: 30px;
}

.work img{
	border-bottom: solid gray 1px;
	width: 88%;
}

.work img:nth-child(1){
	z-index: 10px;
}

.work-inform-1{
	position: relative;
	background: #fff;
	font-size: 17px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 5px 10px;
}

.work-inform-1 a{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.work-1 {
	margin-left: 0px;
}